body{
    overflow: hidden;
    margin: 0 0;
}

.web-container
{
    height: 100vh;
    width: 100vw;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    display: flex;
    
}

.information-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 450px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 9px rgb(0 0 0 / 50%);
    box-sizing: border-box;
    padding: 30px;
}
.image-container
{
    flex: 1;
}

.image-container h1
{
    font-size: 35px;
    font-weight: 530;
}
.avatar
{
    height: 200px;
    border-radius: 100px;
}

.link-info-container
{
    display: flex;
    flex-direction: column;  
    flex:2;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.link-info-container a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    color: white;
   
}

.link-info-container .instagram
{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    width: 80%;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
}

.link-info-container .facebook
{
    width: 80%;
    border-radius: 30px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(59,89,152);
}

.link-info-container h1{
    font-size: 35px;
    font-weight: 530;
    display: inline;
}

.link-info-container .con
{
    color: #f09433;
}

.link-info-container .tact
{
    color:#cc2366;
}

.audio-controll-button
{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-around;
  
}

.audio-controll-button i{
    font-size: 30px;
    color: #b3acac;
    display: block;
}

.audio-controll-button i:hover
{
    cursor: pointer;
}

.audio-controll-button .hide
{
    display: none;
}